body{

    text-align: center;
}

ul{

    background-color: coral;
    list-style: none;
    width: 40%;
    margin: auto;
    border-radius: 15px ;
    /* border: 1px solid rgb(231, 7, 7); */
}


button{

    background-color: teal;
    border: 1px solid coral(231, 7, 7);
    border-radius: 15px ;
    font-size: 1rem;
    padding: 10px 10px;
    margin: 10px 10px;
    color: white;
    
}

input{

    height: 30px;
    width: 300px;
    background-color: coral;
    border: 6px solid teal;
    border-radius: 20px;
    margin-bottom: 10px;

}